{% extends 'dockautoapp/base.html' %}
{% block content %}
<div class="bodyContent center-block">
	<div class="row">
        <h1>{{job.nombrejob}}</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    Target: {{job.idtarget.nombre}}
                </div>
                <div class="col-md-6">
                    Ligand: {{job.idligand.nombre}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    Fecha y hora de inicio: {{job.fechahoracreacion}}
                </div>
                <div class="col-md-6">
                    Fecha y hora de término: {{job.fechahoratermino}}
                </div>
            </div>
            <div class="jumbotron">
                <img src="/static/img/{{job.swissdockid}}.gif">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    Delta G promedio: {{job.deltagpromedio}}
                </div>
                <div class="col-md-6">
                    Error: {{job.errorresultado}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding:50px;">
            {%for comentario in comentarios %}
                <div class="well">
                    <h4>{{comentario.autorcomentario}}</h4>
                    <p>{{comentario.descripcioncomentario}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h3 style="text-align:center;">Ingresar comentario</h1>
        <form method="post" action="/verjob/{{job.swissdockid}}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="width:500px;margin: 0 auto;">
                <input type="hidden" value="{{job.pk}}" name="jobid"> 
                <div class="row">
                    <label for="autor">Ingrese su nombre
                        <input class="form-control" type="text" name="autor" placeholder="Nombre">
                    </label>
                </div>
                <div class="row">
                    <label for="descripcion">Ingrese su comentario
                        <textarea class="form-control" type="text" name="descripcion" placeholder="Comentario"></textarea>
                    </label>
                </div>
                <input class="btn-primary btn" style="margin:0 auto;" type="submit" value="Añadir comentario"/>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}